/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.flex-container{
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 100vh;
}

/* Container styles */
.form-container {
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form group styles */
.form-group {
    margin-bottom: 20px;
}

/* Label styles */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Input styles */
input[type="text"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Button styles */
button {
    width: 100%;
    height: 37px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1b74cd;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#loading-img {
    height: 100%;
    animation: rotate 1s linear infinite; /* Apply the animation */
}

.trip-input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    width: 100%;
}

.form-container{
    width: 600px;
    margin:30px;
}

h1{
    margin-top: 10px;
}

.routes-container{
    flex-grow: 1;
    background-color: #007bff;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.route-detail{
    background-color: red;
    width: 80vw;
    text-align: center;
}

.route-link{

}
